
.textile-row{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    .textile-identifier {
        margin-left: 10px;
        flex-basis: 120px;
        flex-grow: 1.5;
    }
    .textile-type{
        flex-basis: 120px;
        flex-grow: 1;
    }
    .textile-state-renderer{
        flex-basis: 130px;
        flex-grow: 1;
    }

}